body {
    background-color: darkslategray;
}
header {
    background-color: cadetblue;
    text-align: center;
    height: 80px;
    font-size: 25px;
    color: white;
    padding: 10px;
    line-height: 20px;
}
ul#main2 {
    list-style: none;
    padding-left:0;
    margin:0;   
}
ul#main{
    list-style: none;
    padding-left:260px;
    margin:0;
}
ul li a {
    display: block;
    width: 240px;
    height: 40px;
    background-color: rgb(0, 144, 254);
    line-height: 40px;
    text-align: center;
    color: aliceblue;
    text-decoration: none;
}
ul li a:hover{
    background-color: rgb(0, 95, 168);
}
ul#main li:hover ul{
    display: block;
}
ul#main li ul {
    display: none;
    position: absolute;
    left: 0;
    top: 40px;
}
ul#main li {
    float: left;
    position: relative;
    width: 240px;
}